input:invalid{
	background: red;
	color: white;
}

input:optional{
	background: black;
	color: white;
}

input:valid{
	background: blue;
	color: white;
}

input[type=submit], input[type=reset]{
	background-image: linear-gradient(blue, black);
	border: darkblue;
	color: white;
}