input:invalid{
	background: red;
}

input:optional{
	background: yellow;
}

input:valid{
	background: lime;
}

input[type=submit], input[type=reset]{
	background-image: linear-gradient(lime, red);
	border: darkblue;
}