img{
	height: 15%;
	width: 75%;
	float: left;
}

img#qoter{
	margin-left: 5%;
	height: 15%;
	width: 15%;
	float: left;
}

div#cover{
	padding-bottom: 15%;
	width: 100%;
	height: 15%;
	display: block;
	background-image: linear-gradient(white, #008FFF);
	background-size: 100% 100%;
}

html{
	width: 100%;
	height: 100%;
	background-image: linear-gradient(cyan, darkblue);
	background-size: 100% 100%;
}