h1{
	display: block;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	font-size: xx-large;
}
h4{
	margin-left: 10%;
	font-weight: bold;
	text-decoration: underline;
	font-size: x-large;
}
.stitre2{
	margin-left: 6.5%;
	font-weight: bold;
	text-decoration: underline;
	font-size: x-large;
}
.justify{
	text-align: justify;
	font-size: large;
}
.rq{
	text-decoration: underline;
}
.compet{
	text-align: justify;
}
a{
color: #530496 ;
text-decoration: none;
}
a:active, a:visited{
	color: #000F5D ;
}
.n2{
	display: block;
	height: 10%;
	width: 10%;
	margin-left: 2%;
}