h1{
	font-size: xx-large;
	text-decoration: underline;
	text-align:center;
}
a{
color: #530496 ;
text-decoration: none;
}
a:active, a:visited{
	color: #000F5D ;
}
.justify{
	text-align: justify;
	font-size: large;
}
li, ul{
	list-style-type: circle;
}
table, tr, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}
caption{
	font-size: x-large;
	text-decoration: underline;
	font-weight: bold;
	text-align: center;
}
